*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(pink, blue);
  }
  

  

.input-container {
    margin-top: 20px;
    margin-left: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="number"],
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 250px;
  }
  
  .G_buttons{
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms;
  }

  button:hover {
    background-color: #4CAF50;
    opacity: 40%;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .nav ul li{
    margin-left: 50px;
    font-size: 26px;
    margin-right: 10px;
  }

  .nav ul li a{
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    transition: 300ms;
  }

  .nav ul li a:hover {
    border-bottom: solid blue;
  }

  .About h1{
    position: relative;
  }

  .About h1::after{
    content: "";
    position: absolute;
    top: 50%;
    height: 3%;
    width: 90%; /* adjust this value to increase/decrease the thickness of the bar */
    background-color: black; /* change this color as desired */
  }

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.About-Cards{
    height: 300px;
    width: 350px;
    box-shadow: 0, 0, 10, 20, black;
    display: flex;
    justify-self: space-around;
}
.Cards{
    height: 100%;
    width: 100%;
    position: relative;
    backface-visibility: hidden;
    transition: 1500ms;
}

.About-Cards:hover > .Cards{
    transform: rotateY(180deg);  
}

.front-div, 
.back-div{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;
    box-shadow: 0, 0, 30px, 50px, rgba(55, 55, 55, 0.55);
}

.front-div{
    z-index: 2;
    background-color: white;
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.front-div label{
  margin-top: 5%;
  margin-bottom: 5%;
  flex: auto;
}

.back-div{
    z-index: 1;
    background-color: antiquewhite;
    transform: rotateY(180deg);
    padding: 7px;
    display: flex;
    align-items: center;
}

/* Calculator */

.calculator_container{
  height: 500px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  
}

#display {
  grid-column: 1 / -1;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  width: auto;
  border: black;
}

.btn {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

#zero{
  grid-column: 1 / span 2;
  width: auto;
}

#equals{
  grid-column: 3 / span 2;
}

.operation {
  background-color: black;
  color: white;
}

.calculator_section h1{
  width: 100%;
  justify-self: baseline;
  position: relative;
}


.calculator_section h1::after{
  content: "";
  position: absolute;
  top: 50%;
  height: 3%;
  width: 90%; /* adjust this value to increase/decrease the thickness of the bar */
  background-color: black; /* change this color as desired */
}